body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*
header {
  font-family: 'Quicksand';
  padding: 50px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
}*/

header div{
  width: 50%;
  float: left;
}

header div img{
  max-width: 100%;
}

nav{
  background-color: #b3b3ff;
  text-align:center;
}

nav ul{
  list-style:none;
  margin-bottom: 0.1rem;
}

nav ul a{
  text-decoration: none;
  display: line-through;
  padding:0.3rem;
  border:0.1rem solid white;
  color: #000066;
}


footer {
  width: 900px;
  margin: 50px auto;
  border-top: 5px dotted #ccc;
  margin-top: 100px;
  font-size: 13px;
  text-align: center
}

a {
  color: #00B7FF;
}

h2 {
  margin-bottom: 20px;
  margin-left: 30px;
}

ul {
  margin-bottom: 25px;
}

.container {
  width: 950px;
  margin-left: 300px;
  margin-top: 50px;
  overflow: hidden;
}
.column {
  float: left;
  margin-top: 50px;
  font-family: 'Quicksand';
  background-color: #b3b3ff;
}

.tabla{
  border-collapse: collapse;
	text-align: center;
  table-layout: fixed;
  text-justify: inter-word;
}

th, td{
  padding: 15px;
}

.columna_pregunta{
  width: 20%;
}

.columna_tema{
  width: 15%;
}

.columna_respuesta{
  width: 65%;
}

#left-column {
  width: 250px;
}

#container {
  width: 1000px;
  margin: 25px auto;
}